body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section {
  display: flex;
  flex-direction: column;
  /* Отступ всего контента сверху и снизу 100px, слева и справа 90px */
  padding: 100px 90px; 
}

.main-content-title{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  /* отступ */
  margin-bottom: 10px;
  margin-top: 0px;
}

/* About me section */

.about-me-section {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* Отступ */
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin: 0 0 20px 0;
}

.about-me-name{
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin: 0 0 25px 0;
}

.about-me-description{
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  /* новый отступ */
  margin: 0 0 0 0;
}

/* My projects section */

.my-projects-section {
  /* background-color: blueviolet; */
  margin: 0 0 50px 0;
}

.my-projects-list{
  padding: 0 0 0 18px;
  /* margin: 0 0 50px 0; */
}

.my-projects-item{
  color: black;
  /* от себя */
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.my-projects-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
} 

.my-projects-link{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* Work experience section */

.my-work-experience-section {
  /* Отступы */
  /* background-color: crimson; */ 
}

.my-work-experience-company,
.my-education-section-block{
  color: #FB6D3A;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.my-work-experience-position{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-period,
.my-education-section-period{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider,
.my-education-section-divider{
  color: #000000;
}

.my-work-experience-duties-list{
  padding: 0 0 0 18px;
}

.my-work-experience-duty{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-block{
  margin: 0 0 15px 0;
}

/* sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.soft-skills-section {
  margin: 40px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* contacts-section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

/* tech-skills-list */
.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item,
.soft-skills-item {
  font-size: 10px;
  color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text {
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
}
